
{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block content %}
    <div class="home">
        <section class="home__hero">
            <div class="hero__left">
                <h1>
                    Welcome to the Fantasy Premier League Database!
                </h1>
                <div class="az bf">
                    <h2 id="how-does-fpl-scoring-work">How Does FPL Scoring Work?</h2>
                    <p><b>Fantasy Premier League players are scored as follows:</b></p>
                    <p>Goalkeepers & Defenders:</p>
                    <ul>
                        <li>-1 point for every two goals conceded</li>
                        <li>+4 points for a clean sheet</li>
                        <li>+6 points for scoring a goal</li>
                        <li>+5 points for saving a penalty (goalies)</li>
                        <li>+1 point for making three or more saves (goalies)</li>
                    </ul>
                    <p>Midfielders:</p>
                    <ul>
                        <li>+1 point for a clean sheet</li>
                        <li>+5 points for sco   ring</li>
                    </ul>
                    <p>Forwards:</p>
                    <ul>
                        <li>+4 points for scoring</li>
                    </ul>
                    <p>All Positions:</p>
                    <ul>
                        <li>+3 points for assisting</li>
                        <li>+1 point for playing up to 60 minutes</li>
                        <li>+2 points for playing 60 minutes or more</li>
                        <li>+3 points for Best Player in the Match</li>
                        <li>+2 points for 2nd Best Player in the Match</li>
                        <li>+1 point for 3rd Best Player in the Match</li>
                    </ul>
                </div>

                {{ cta_button('btn--large') }}

            </div>
            <div class="hero__right">
                <img src="{{ url_for('static', filename='images/hero.png') }}" alt="hero" class="hero__img">
            </div>
        </section>
    </div>
    <section>

    </section>
{% endblock %}