{% macro cta_button (class='') %}
    <a class="btn {{ class }}" href="{{ url_for('Produce.produce') }}">
        <span>
            
            Search in database
        </span>
    </a>
{% endmacro %}


{% macro form_errors (errors=[]) %}
    {% for error in errors %}
        <span class="text--red">{{ error }}</span>
    {% endfor %}
{% endmacro %}


{% macro select_field (name='', choices=[]) %}
    <select name="{{ name }}" id="{{ name }}" aria-label="{{ name }}">
        <option value=null selected disabled>Choose an option...</option>
        {% for choice in choices %}
            <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
        {{ form. first_name.options }}
    </select>
{% endmacro %}


{% macro filter_produce_form (form=None, sold_by=True) %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form--row">
            <div class="form-group">
                {{ form.full_name.label }}
                {{ form.full_name }}
            </div>

            <div class="form-group">
                {{ form. GW.label }}
                {{ form. GW }}
            </div>

            <div class="form-group">
                {{ form. goals_scored.label }}
                {{ form. goals_scored }}
            </div>
        </div>

        <div class="form--row">
            {% if sold_by %}
                <div class="form-group">
                    {{ form.assists.label }}
                    {{ form.assists }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form.total_points.label }}
                {{ form.total_points }}
            </div>

            {{ form.submit(class="btn") }}
            <a href="{{ url_for('Produce.produce') }}" class="btn">Clear filters</a>
        </div>
    </form>
{% endmacro %}


{% macro produce_card (product=None, show_checkout=True, show_restock=False, date=None, GW=None) %}
    {%if GW != 'none'%}
    <div class="card">
        <div class="card__info">
            <p>Name: {{ product.full_name|format_data }}</p>
            <p>Gameweek: {{ product.gw |format_data }}</p>
            <p>FPL points: {{ product.total_points|format_data }}</p>
            <p>Goals scored: {{ product.goals_scored|format_data }}</p>
            <p>Assists : {{product.assists | format_data}}</p>

        </div>

        <div class="card__action">
            {% if show_checkout %}
                {% if product.available %}
                    <a href="{{ url_for('Produce.buy_produce', pk=product.produce_pk) }}">Buy</a>
                {% endif %}
            {% else %}
                {% if show_restock %}
                    {% if not product.available %}
                        <a href="{{ url_for('Produce.restock_produce', pk=product.produce_pk) }}">Restock</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {%endif%}
    {%if GW == 'none'%}
    <div class="card">
        <div class="card__info">
            <p>Name: {{ product.full_name|format_data }}</p>
            <p>FPL points: {{ product.all_points|format_data }}</p>
            <p>Goals scored: {{ product.total_goals|format_data }}</p>
            <p>Assists : {{product.total_assists | format_data}}</p>

        </div>

        <div class="card__action">
            {% if show_checkout %}
                {% if product.available %}
                    <a href="{{ url_for('Produce.buy_produce', pk=product.produce_pk) }}">Buy</a>
                {% endif %}
            {% else %}
                {% if show_restock %}
                    {% if not product.available %}
                        <a href="{{ url_for('Produce.restock_produce', pk=product.produce_pk) }}">Restock</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {%endif%}
{% endmacro %}

